# src
[submodule "src/algorithms-1"]
	path = src/algorithms-1
	url = https://github.com/diehl-cs/algorithms-1.git
[submodule "src/grid-world"]
	path = src/grid-world
	url = https://github.com/diehl-cs/grid-world.git
[submodule "src/hello-world"]
	path = src/hello-world
	url = https://github.com/diehl-cs/hello-world.git

# util
[submodule "config"]
	path = util/config
	url = https://github.com/diehl-cs/config.git
[submodule "gitignore"]
	path = util/gitignore
	url = https://github.com/diehl-cs/gitignore.git

# doc
[submodule "config"]
	path = doc
	url = https://github.com/diehl-cs/doc.git
